#heading{
font-family:"Futura PT";
text-align: center;
text-align: center;   
line-height: 55px; 
text-decoration: none;
}

a{
   color: black;
}

nav{
   width: 100%;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: Arial, sans-serif;
   font-size: 15px;

}

#nav{display:flex;
   width: 100px;
   height: 55px;
   color: White;
}
a:hover{
text-decoration: underline;
color: burlywood;
}

#navsetting{
   top: 0;
   float: left;
}

#navteam{
     top: 0;
     margin-right: 20px;
     margin-left: 20px;
 }
 #navmenu{
    top: 0;
 }
 img{
    width: 60%;
    height: 650px;
 }
 #video{
    width: 100%;
    height: 50%;
 }

 footer{
    background-color: #e7c27d;
 }

