#heading{
font-family: 'Courier New', Courier, monospace;
text-align: center;
}
#setting{
text-align: left;
padding: 10px;
margin: 10px;
text-align: start;
}
aside{
    background-color: antiquewhite;
    text-align:left;
    width: fit-content;

}